.form-container{
	display:flex;
	flex-direction: column;
	h3 {
		@apply font-extrabold text-2xl my-5
	}
	.custom-control-label{
		margin-left:5px;
	}
	.switch-form{
		text-align: right;
		.switch-button{
			font-size: 15px;
			padding-top: 10px;
			margin-left: 0;
		}
	}
	
}

