.root-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
	align-items:center;
	height: 100%;
	.root-inner {
		display:flex;
		flex-direction: column;
		margin: auto;
		background: #ffffff;
		padding: 40px 55px 45px 55px;
		// width: 450px;
		// margin: auto;
		// background: #ffffff;
		// padding: 40px 55px 45px 55px;
		// border-radius: 15px;
		// transition: all .3s;
	}
	.header{
		text-align:center;
		font-weight: bolder;
	}
	.brief{
		text-align:center;
	}
	.button-row{
		margin-top:20px;
		display:flex;
		justify-content:center;
		gap: 15px;
		.github-button, .start-button{
			background-color:#ffffff;
			border: 1px solid #ffffff;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
			&:hover{
				background-color: #f0f0f0;
			}
		}
		
	}
}

