@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.headerCell {
		@apply border-b-[2px] border-[hsl(220,60%,95%)]/[0.06] h-[34px] bg-[hsl(220,10%,14%)]/[0.9] text-[hsl(0,0%,62%)] text-[12px] align-middle font-[500];
	}
	.projectRowCell {
		@apply flex items-start w-full my-[5px] py-[4px] px-[8px] gap-[4px] leading-[1.4];
	}
	.headerCellWrapper {
		@apply flex items-center p-[8px] pb-[10px] gap-[4px];
	}
	.cell {
		@apply p-0 border-b-[1px] border-[hsl(220,60%,95%)]/[0.06] align-top cursor-pointer text-[hsl(0,05,62%)];
	}
	.popoverButton {
		@apply text-[13px] font-[400] flex items-center w-full min-h-[30px] py-[6px] px-[16px] text-[hsl(0,0%,100%)]/[0.9] cursor-pointer hover:bg-[hsl(220,9%,25%)] hover:text-[hsl(0,0%,100%)];
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overscroll-behavior: none;
	font-family: "Roboto" sans-serif;
	font-weight: 300;
	font-size: 14px;
}
